@charset "UTF-8";
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  font-size: 0.75rem;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1600px;
  background-color: #f5f6f8;
}

header {
  width: auto;
  height: 100vh;
  padding-top: 10px;
  padding-left: 19.6875%;
  background-color: #f5f6f8;
  background-image: url("../img/main-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
}
header .main-text {
  max-width: 400px;
  margin-top: 190px;
}
header h1 {
  font-family: "Montserrat Hairline";
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: black;
}
header p {
  font-size: 0.75rem;
  font-weight: 300;
  margin-top: -32px;
  padding-left: 7px;
  text-transform: uppercase;
  color: #232323;
}

.logo {
  transform: translateY(40px);
  width: 38px;
  height: 38px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 690px;
  margin-left: 21.6535433071%;
}

.main-menu {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: none;
}

.main-menu__item {
  display: inline-block;
  text-align: center;
  line-height: 42px;
  list-style: none;
}

.sub-menu .main-menu__sub-menu {
  display: none;
  text-align: left;
  line-height: 30px;
  list-style: none;
  width: 0;
  height: 0;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 0 0 2px 1px rgba(0, 0, 0, 0.8);
  color: white;
}
.sub-menu::after {
  font-family: "FontAwesome";
  content: "";
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.502);
  vertical-align: middle;
}
.sub-menu:hover .main-menu__sub-menu {
  width: 80px;
  height: 150px;
  display: block;
  position: absolute;
  background-color: black;
}

.start-project {
  width: 152px;
  height: 42px;
  background-color: black;
  text-align: center;
  line-height: 42px;
  border-radius: 2px;
  color: white;
}

#adaptive-menu {
  display: inline-block;
  margin-left: 5px;
}

#bars {
  display: inline-block;
  text-align: center;
  line-height: 0;
  list-style: none;
  height: 15px;
  cursor: pointer;
}
#bars div {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: black;
}
#bars div::before, #bars div::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px 0 -2px;
  background-color: black;
}

.small-menu {
  display: none;
  text-align: center;
  line-height: 30px;
  list-style: none;
}

main {
  background-color: #f5f6f8;
}

.features-big-icon {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: none;
  max-width: 920px;
  height: 280px;
  padding-top: 10px;
  margin: auto;
}
.features-big-icon div {
  text-align: center;
  text-align: center;
  height: 100%;
}
.features-big-icon div h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #232323;
}
.features-big-icon div p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: rgba(35, 35, 35, 0.502);
}
.features-big-icon div span {
  display: inline-block;
  height: 60px;
  box-sizing: border-box;
}
.features-big-icon div h3 {
  margin-top: 16px;
  height: 40px;
  box-sizing: border-box;
}
.features-big-icon div p {
  padding-top: 10px;
  height: 95px;
  line-height: 1.6;
}
.features-big-icon div:nth-of-type(odd) {
  width: 250px;
}
.features-big-icon div:nth-of-type(odd) p {
  letter-spacing: -0.1px;
}
.features-big-icon div:nth-of-type(2) {
  width: 275px;
}
.features-big-icon div:nth-of-type(2) span {
  transform: translateY(-10px);
}
.features-big-icon div:nth-of-type(2) h3 {
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-top: 12px;
}
.features-big-icon div:nth-of-type(2) p {
  margin-top: 5.7%;
}
.features-big-icon div:nth-of-type(3) h3 {
  width: 260px;
  line-height: 40px;
}
.features-big-icon div:nth-of-type(3) h3::after {
  content: "NEW";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 24px;
  width: 48px;
  height: 24px;
  color: white;
  font-size: 0.625rem;
  background-color: #26e6e6;
  border-radius: 11px;
}
.features-big-icon div button {
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 20px;
  background-color: none;
  color: black;
  border: none;
  border-radius: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  height: 20px;
  background: none;
  cursor: pointer;
}
.features-big-icon div button:hover {
  text-decoration: underline;
  text-decoration-color: #26e6e6;
}

.iphone-block {
  width: 100%;
  margin-top: 128px;
  position: relative;
  background-image: url(../img/snow-montain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.iphone-block .device {
  width: 100%;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
}

#device-img {
  background-image: url("../img/Device-non-screen.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
  width: 66.8%;
  height: 77%;
  position: absolute;
  z-index: 2;
  display: inline-block;
  perspective: 400px;
}

#iphone-slider {
  position: absolute;
  z-index: 3;
  width: 240px;
  height: 82.2%;
  background-color: transparent;
  transform: translate(64%, 39.9%) rotateX(3deg) rotateY(0deg) rotate(-37deg) skew(12deg);
  transform-origin: 0% 0% 0;
}
#iphone-slider div {
  height: 100%;
}

.slick-prev .slick-arrow {
  position: absolute;
  z-index: 12;
}

.our-development {
  display: flex;
  justify-content: flex-start;
  align-items: none;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 386px;
  max-height: 674px;
  padding-top: 40px;
  border-radius: 2px;
  border: 1px solid #000;
  background-color: #fff;
  text-align: left;
}
.our-development h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #232323;
}
.our-development p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: rgba(35, 35, 35, 0.502);
}
.our-development h3 {
  display: inline-block;
  width: 170px;
  margin-top: 14px;
  padding-left: 16px;
  font-size: 1.125rem;
  text-transform: none;
}
.our-development p {
  width: 230px;
  margin-top: -47px;
  padding-left: 85px;
  line-height: 1.5;
}
.our-development :first-child p {
  margin-top: -24px;
}
.our-development__btn {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: 23px;
  border: none;
  background-color: black;
  text-transform: uppercase;
  line-height: 60px;
  color: white;
}

.browsers,
.briefcase,
.be-artist {
  max-width: 350px;
  padding-left: 35px;
  margin-bottom: 25px;
}
.browsers span,
.briefcase span,
.be-artist span {
  display: inline-block;
  width: 40px;
  height: 100px;
  margin-right: 24px;
  vertical-align: top;
}

.briefcase h3 {
  width: 220px;
}

.build-beautiful {
  padding-top: 100px;
  margin-bottom: 100px;
  background-color: #fff;
  text-align: center;
}
.build-beautiful__bg {
  box-sizing: border-box;
}
.build-beautiful h2 {
  margin: auto;
  font-family: "Montserrat Hairline";
  font-size: 4.5rem;
  font-weight: 300;
}
.build-beautiful p {
  max-width: 450px;
  margin: 45px auto;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #232323;
}
.build-beautiful__item {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: none;
  text-align: center;
  max-width: 960px;
  margin: 100px auto;
  padding-top: 95px;
  text-align: left;
}
.build-beautiful__item h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #232323;
}
.build-beautiful__item p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: rgba(35, 35, 35, 0.502);
}
.build-beautiful__item h3 {
  text-transform: capitalize;
}
.build-beautiful__item p {
  width: 235px;
  height: 155px;
  margin: 25px auto 0;
  line-height: 1.6;
}
.build-beautiful__item button {
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 20px;
  background-color: none;
  color: black;
  border: none;
  border-radius: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  height: 20px;
  margin-left: -8px;
  background: none;
  text-align: left;
  cursor: pointer;
}
.build-beautiful__item button:hover {
  text-decoration: underline;
  text-decoration-color: #26e6e6;
}

.ipad-block {
  width: auto;
}

.ipad-block__container {
  max-width: 1370px;
  height: 750px;
  margin-left: 6.875%;
  margin-right: 7.5%;
  position: relative;
  padding-left: 9.4890510949%;
  padding-top: 110px;
  background-color: black;
  border-radius: 2px;
  box-sizing: border-box;
}

.ipad-block__header {
  width: 47.4452554745%;
}
.ipad-block__header h2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 52px;
  line-height: 1.1;
  color: white;
  font-family: "Montserrat Hairline";
  font-weight: 300;
  font-size: 4.5rem;
}
.ipad-block__header p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  max-width: 420px;
  margin-bottom: 160px;
  color: rgba(255, 255, 255, 0.502);
}

.background-slider {
  width: 59.4890510949%;
  height: 741px;
  position: absolute;
  top: 35.3333333333%;
  left: 49.2700729927%;
  background-image: url("../img/iPad.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: auto;
  border-radius: 2px;
}

.button {
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  background-color: #26e6e6;
  color: black;
  border: none;
  border-radius: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}

.platform-features {
  max-width: 960px;
  margin: 160px auto;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
}
.platform-features__head {
  margin-bottom: 60px;
}
.platform-features__head p:nth-of-type(n) {
  text-align: center;
  width: 80%;
  padding-bottom: 20px;
  margin: auto;
}
.platform-features__head p:first-of-type {
  padding-bottom: 40px;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.platform-features__head p:last-of-type {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #232323;
}
.platform-features__block1, .platform-features__block2 {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: none;
  text-align: center;
  text-align: left;
}
.platform-features__block1 h3, .platform-features__block2 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #232323;
}
.platform-features__block1 p, .platform-features__block2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: rgba(35, 35, 35, 0.502);
}
.platform-features__block1 section h3, .platform-features__block2 section h3 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  font-size: 1.125rem;
  text-transform: capitalize;
}
.platform-features__block1 section p, .platform-features__block2 section p {
  max-width: 200px;
  margin-top: -30px;
  margin-left: 84px;
  line-height: 1.6;
}
.platform-features__icon {
  display: inline-block;
  width: 21.5%;
  height: 65px;
  margin-right: 7%;
  text-align: center;
}

.quotes {
  position: relative;
  width: auto;
  height: 400px;
  overflow: hidden;
}
.quotes blockquote:nth-of-type(odd) p {
  width: 89%;
  padding-right: 5.5%;
  padding-left: 5.5%;
}
.quotes blockquote:nth-of-type(1) {
  left: -26.1%;
}
.quotes blockquote:nth-of-type(2) {
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.quotes blockquote:nth-of-type(2) p {
  width: 72%;
  margin: auto;
  padding-right: 14%;
  padding-left: 14%;
}
.quotes blockquote:nth-of-type(3) {
  right: -26.3%;
}
.quotes__top {
  top: 40px;
  left: 40px;
}
.quotes__bottom {
  bottom: 40px;
  right: 40px;
}

blockquote {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  max-width: 795px;
  height: 385px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
}
blockquote span {
  position: absolute;
}
blockquote p {
  margin: auto 0 auto;
  padding-top: 75px;
  padding-bottom: 38px;
  font-family: "Montserrat Hairline";
  font-size: 2.625rem;
  line-height: 1.2;
  text-align: center;
  color: #232323;
}
blockquote cite {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 100%;
  color: black;
}

.doitby-yourself {
  width: 100%;
}
.doitby-yourself h3 {
  display: inline-block;
  font-size: 1.625rem;
  text-align: center;
}
.doitby-yourself #doitby-yoursalf__img-b {
  width: auto;
  max-height: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.doitby-yourself__img-b1 {
  align-self: flex-end;
}
.doitby-yourself__img-b2 div:nth-of-type(n) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.doitby-yourself__img-b3 {
  align-self: baseline;
}

.img-computer-table {
  width: 209px;
  height: 425px;
  background-image: url("../img/photo2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
}

.img-human {
  width: 305px;
  height: 425px;
  margin-bottom: 100px;
  background-image: url("../img/photo7.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
}

.img-mountan {
  width: 632px;
  height: 420px;
  background-image: url("../img/photo3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
}

.img-snow-mountan {
  width: 960px;
  height: 200px;
  background-image: url("../img/photo1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
}

.img-fog-mountan {
  width: 470px;
  height: 424px;
  background-image: url("../img/photo4.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
}

.img-room {
  width: 470px;
  height: 455px;
  margin-top: 70px;
  background-image: url("../img/photo6.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
}

.img-birds {
  width: 178px;
  height: 422px;
  background-image: url("../img/photo5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
}

.join-over {
  text-align: center;
}
.join-over h2 {
  padding: 77px;
  background-color: #fff;
  font-family: "Montserrat Hairline";
  font-weight: 300;
  font-size: 4.5rem;
}

.prices {
  width: 930px;
  padding-bottom: 130px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: none;
}
.prices h3, .prices p, .prices a {
  text-align: center;
}
.prices .price {
  width: 304px;
  height: 432px;
}
.prices .price h3 {
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 20px;
}
.prices .price__dollars {
  font-size: 2.875rem;
  font-weight: bold;
}
.prices .price__title {
  max-width: 230px;
  height: 137px;
  margin: auto;
  font-size: 0.875rem;
  color: rgba(35, 35, 35, 0.502);
  margin-top: -15px;
}
.prices div:nth-of-type(odd) .button {
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}
.prices div:nth-of-type(odd) .button:hover {
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  background-color: #26e6e6;
  color: black;
  border: none;
  border-radius: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}
.prices .active {
  background-color: black;
  border-radius: 2px;
}
.prices .active h3, .prices .active .price__dollars {
  color: white;
}
.prices .active .price__title {
  color: rgba(255, 255, 255, 0.502);
}

footer {
  height: 880px;
  background-image: url("../img/footer-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
  background-position: center bottom;
}
footer h5 {
  width: 960px;
  height: 220px;
  padding-right: 85px;
  padding-left: 85px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 5.75rem;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.3;
  letter-spacing: -0.5px;
  word-spacing: 1px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-image: url("../img/bg-footer.jpg");
  background-position: -85px -90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
}

.footer-content-bg {
  max-width: 960px;
  height: 282px;
  margin: 250px auto 0;
  background-color: black;
  border-radius: 2px;
}

.social-nets {
  width: 60%;
}
.social-nets__item {
  display: inline-block;
}
.social-nets__item a {
  font-family: "FontAwesome";
}
.social-nets__item a {
  display: inline-block;
  font-size: 1.5rem;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
}
.social-nets :nth-child(1) a::before {
  content: "";
}
.social-nets :nth-child(2) a::before {
  content: "";
}
.social-nets :nth-child(3) a::before {
  content: "";
}
.social-nets :nth-child(4) a::before {
  content: "";
}

/*# sourceMappingURL=style.css.map */
